*{
    margin:0;
}

.sudoku-board{
    margin-left:29.75vw;
    margin-top:5vh;
}

.row{
    display:flex;
}

.square-small{
    border: solid 1px black;
    height:4.5vw;
    width:4.5vw;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4vw;
}

.square-large{
    border: solid 1px black;
    width:13.5vw;
}

.left-bold{
    border-left: solid 3px black;
}

.right-bold{
    border-right: solid 3px black;
}

.top-bold{
    border-top: solid 3px black;
}

.bottom-bold{
    border-bottom: solid 3px black;
}

.column-large{
    display: flex;
}